//
// icons.scss
//

.icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin: 0 auto;
    gap: 10px;
    justify-content: center;

    .icon-box {
        text-align: center;
        padding: 1rem 0.65rem;
        border: 1px solid var(--#{$prefix}border-color);
        position: relative;
        color: $text-muted;
        border-radius: 4px;

        &:hover {
            cursor: copy;

            i,
            strong {
                color: var(--#{$prefix}primary);
            }
        }

        i {
            display: block;
            font-size: 30px;
            margin-bottom: 1.5rem;
            opacity: 0.9;
        }

        strong {
            font-weight: 500;
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        code {
            display: inline-block;
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 5px auto 0;
            background-color: rgba(var(--#{$prefix}secondary), 0.1);
            color: rgba(var(--#{$prefix}secondary), 1);
            font-size: 10px;
        }
    }
}

#copyAlert {
    display: none;
    left: 50%;
    transform: translateX(-50%);
    top: $app-header-base-height + 16px;
}