// 
// print.scss
//

@media print {

    @page {
        size: A4;
        margin: 0;
    }

    #printContent {
        padding: 0 !important;
    }

    .card {
        border: none !important;
        border-radius: 0px !important;
    }
}