//
// _sidebar-semi-box.scss
//

:root {
  &[data-main-layout="semi-boxed"] {
    --#{$prefix}app-sidebar-width: var(--#{$prefix}app-sidebar-small-width);
    --#{$prefix}layout-semibox-rounded: var(--#{$prefix}border-radius-xl);
    --#{$prefix}layout-semibox-spacing: 32px;

    body {
      background-color: var(--#{$prefix}app-sidebar-bg);
      position: relative;
    }

    .card {
      box-shadow: none;
    }

    .app-wrapper {
      margin-inline-end: var(--#{$prefix}layout-semibox-spacing);
      margin-block-start: calc(var(--#{$prefix}app-header-height) + var(--#{$prefix}layout-semibox-spacing));
      margin-inline-start: calc(var(--#{$prefix}app-sidebar-width) + var(--#{$prefix}layout-semibox-spacing));
      margin-block-end: var(--#{$prefix}layout-semibox-spacing);
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: calc(100vh - (var(--#{$prefix}app-header-height) + var(--#{$prefix}app-footer-height) + calc(var(--#{$prefix}layout-semibox-spacing) * 2)));
    }

    .app-container {
      background-color: var(--#{$prefix}body-bg);
      padding: 24px;
      border-radius: var(--#{$prefix}layout-semibox-rounded);
      margin-block-start: 0;
      max-width: 1450px;
      width: 100%;
    }

    .app-sidebar {
      position: absolute;
      bottom: auto;
      min-height: calc(100% + calc(var(--#{$prefix}app-header-height) + var(--#{$prefix}layout-semibox-spacing)));
      top: calc(-1 * calc(var(--#{$prefix}app-header-height) + var(--#{$prefix}layout-semibox-spacing)));

      .app-sidebar-logo {
        .app-sidebar-logo-default {
          display: none;
        }

        .app-sidebar-logo-minimize {
          display: block;
        }
      }

      .menu-title {
        display: none;
      }

      .side-menu__angle {
        display: none;
      }

      .main-menu {
        font-size: 12px;
      }

      .side-menu__item {
        --#{$prefix}app-sidebar-menu-item-gap: 6px;
        flex-direction: column;
        justify-content: center;

        .side_menu_icon {
          font-size: 18px;
          line-height: 1;
        }

        &::after {
          display: none;
        }

        &::before {
          left: var(--#{$prefix}app-sidebar-menu-item-padding-left);
        }
      }

      .slide {
        position: relative;
      }

      .slide-menu {
        position: absolute;
        left: 100%;
        width: var(--#{$prefix}app-sidebar-slide-menu-width);
        padding: 8px 0;
        border-radius: 12px;
        margin-top: -66px;
        box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
        background-color: var(--#{$prefix}app-sidebar-bg);

        &::after {
          display: none;
        }

        .slide {
          .side-menu__item {
            padding-inline-start: calc(var(--#{$prefix}app-sidebar-menu-item-padding-left) * 2);
            align-items: start;
            justify-content: start;
            flex-direction: row;
          }

          .slide-menu {
            margin-top: -42px;
          }

          .side-menu__angle,
          .side-menu__label {
            display: block;
          }
        }
      }
    }

    .app-sidebar-menu {
      height: 100%;
    }

    // Theme Dark Mode
    &[data-bs-theme="dark"] {
      body {
        background-color: #{tint-color($body-bg-dark, 2.5%)};
      }
    }

    // light Sidebar Layout
    &[data-sidebar="light-sidebar"] {
      .footer {
        border-top: 1px solid var(--#{$prefix}border-color);

        >div {
          --#{$prefix}gutter-x: 48px;
        }
      }
    }

    // Gradient Sidebar Layout
    &[data-sidebar="gradient-sidebar"] {
      body {
        background: var(--#{$prefix}app-sidebar-bg-gradient);
      }
    }

    // Boxed Layout
    &[data-layout-container="boxed"] {
      background-color: rgba(var(--#{$prefix}primary-rgb), 0.1);

      body {
        background-color: var(--#{$prefix}app-sidebar-bg);
      }

      .app-wrapper {
        background-color: transparent;
        margin-block-start: var(--#{$prefix}app-header-height);
        padding-top: var(--#{$prefix}layout-semibox-spacing);
      }

      .app-sidebar {
        min-height: calc(100% + var(--#{$prefix}app-header-height));
        top: calc(-1 * var(--#{$prefix}app-header-height));
      }
    }

    // Header Static Layout
    &[data-nav-position="static"] {
      .app-sidebar {
        top: 0;
        min-height: 100%;
      }

      .app-wrapper {
        margin-block-start: var(--#{$prefix}layout-semibox-spacing);
        min-height: calc(100vh - (var(--#{$prefix}app-header-height) + var(--#{$prefix}app-footer-height) + calc(var(--#{$prefix}layout-semibox-spacing) * 2)));
      }
    }

    // Header Hidden Layout
    &[data-nav-position="hidden"] {
      .app-wrapper {
        margin-block-start: var(--#{$prefix}layout-semibox-spacing);
        min-height: calc(100vh - (var(--#{$prefix}app-header-height) + var(--#{$prefix}app-footer-height) + calc(var(--#{$prefix}layout-semibox-spacing) * 2)));
      }

      .app-sidebar {
        min-height: calc(100% + var(--#{$prefix}layout-semibox-spacing));
        top: calc(-1* var(--#{$prefix}layout-semibox-spacing));
      }
    }
  }
}
