//
// _sidebar-small-icon.scss
//

:root {
  &[data-main-layout="small-icon"] {
    --#{$prefix}app-sidebar-width: 85px;

    body {
      position: relative;
    }

    .app-sidebar {
      position: absolute;
      bottom: auto;
      min-height: calc(100% + var(--#{$prefix}app-header-height));
      top: calc(-1 * var(--#{$prefix}app-header-height));
    }

    .app-sidebar-logo {
      .app-sidebar-logo-default {
        display: none;
      }

      .app-sidebar-logo-minimize {
        display: block;
      }
    }

    .menu-title {
      display: none;
    }

    .main-menu {
      font-size: 12px;
      padding: 12px 0;
    }

    .slide {
      position: relative;
    }

    .side-menu__item {
      padding-top: 6px;
      padding-bottom: 6px;
      justify-content: center;

      .side_menu_icon {
        font-size: 18px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 42px;
        height: 42px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        border-radius: 0.5rem;
      }

      &.active {
        .side_menu_icon {
          border: 1px solid var(--#{$prefix}primary);
          background-color: rgba(var(--#{$prefix}primary-rgb), 0.1);
          color: var(--#{$prefix}primary);
        }
      }

      .side-menu__angle {
        display: none;
      }

      .side-menu__label {
        display: none;
      }

      &::after {
        display: none;
      }

      &::before {
        left: var(--#{$prefix}app-sidebar-menu-item-padding-left);
      }
    }

    .slide-menu {
      position: absolute;
      left: 100%;
      width: var(--#{$prefix}app-sidebar-slide-menu-width);
      padding: 8px 0;
      border-radius: 12px;
      margin-top: -54px;
      box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
      background-color: var(--#{$prefix}app-sidebar-bg);

      &::after {
        display: none;
      }

      .slide {
        .side-menu__item {
          padding-inline-start: calc(var(--#{$prefix}app-sidebar-menu-item-padding-left) * 2);
          justify-content: start;

          .side-menu__angle {
            display: block;
          }

          .slide-menu {
            margin-top: -30px;
          }

          .side-menu__label {
            display: block;
          }

          &::before {
            left: var(--#{$prefix}app-sidebar-menu-item-padding-left);
          }
        }
      }
    }

    .app-sidebar-menu {
      height: auto;
    }

    &[data-sidebar="gradient-sidebar"] {
      .slide-menu {
        background: var(--#{$prefix}app-sidebar-bg-gradient);
      }
    }

    &[data-nav-position="hidden"],
    &[data-nav-position="static"] {
      .app-sidebar {
        top: 0;
        min-height: 100%;
      }
    }

  }
}
